body {
    font-family: 'Inter', sans-serif;
}


.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #003049;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda-img {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.esquerda-img > h1 {
    color: #EAE2B7;
    font-weight: 800;
    font-size: 3vw;
}

.left-login-img {
    width: 35vw;
}

.form-direita {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-login {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #075883;
    padding: 3.5rem 0;
    border-radius: 10px;
    box-shadow: 0 10px 40px #00000056;
}

.card-login > h1 {
    color: #f7b93f;
    font-weight: 800;
}

.txtarea {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;

}

.txtarea > input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #2f88b8;
    color: #DADADA;
    padding: 1em;
    font-size: 12pt;
    box-shadow: 0 10px 40px #00000056;
}

.txtarea > input:focus {
    transform: scale(102%);
}

.txtarea > input::placeholder {
    color: #DADADA;
}

.btn-login {
    width: 80%;
    padding: 1em 0;
    border-radius: 8px;
    border: none;
    margin: 1.5em 0 1em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #054364;
    background-color: #f7b93f;
    cursor: pointer;
    transition: .3s;
}

.btn-login:hover {
    transform: scale(105%);
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .esquerda-img > h1 {
        display: none;
    }

    .esquerda-img {
        width: 100%;
        height: auto;
    }



    .form-direita {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vw;
    }
}